/* example */

button#trigger {
	bottom: 25px;
	left: 20px;
	position: absolute;
	width: 100px;
	white-space: nowrap;
	z-index: 100;
}

#content {
	background-color: #FFFFFF;
	font-family: Arial;
	height: 205px;
	padding: 10px 15px 15px 15px;
	width: 220px;
}

#content fieldset {
	background-color: #F7F7F7;
	border: 1px solid #DDDDDD;
	height: 160px;
	padding-left: 25px;
}

#content label {
	display: block;
	margin: 12px 0px 3px 0px;
}

#content legend {
	background-color: #FFFFFF;
	border-bottom: 1px solid #DDDDDD;
	color: #787878;
	font-weight: bold;
}

#content input[type=text],
#content input[type=password] {
	padding: 4px;
	width: 150px;
}

#content input[type=submit] {
	display: block;
	margin: 20px auto 0px auto;
	width: 80px;
}


/* CSS3 supported effects */

.round {
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}

.shadow {
	box-shadow: 0px 0px 20px #212121;
}
