/**
 * Demo example
 */
#login {
  background-color: #FFFFFF;
  padding: 20px 15px 25px 15px;
  position: relative;
  width: 240px;
}

#login fieldset {
  padding-left: 25px;
}

#login label {
  display: block;
  margin: 5px 0px 12px 0px;
}

#login label span {
  display: none;
}

#login input[type=text],
#login input[type=password] {
  font-size: 16px;
  padding: 5px;
  width: 150px;
}

#login input[type=submit] {
  width: 80px;
}

#login .form_submit {
  margin-top: 10px;
  padding-bottom: 0px;
}

#login .error_mesg {
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  color: #787878;
  display: inline;
  font-size: 12px;
  left: 220px;
  margin-top: -4px;
  position: absolute;
  width: 150px;
}

#trigger {
  display: block;
  margin: 25% auto 0px auto;
}

/**
 * CSS3 supported effects
 */
#login {
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  box-shadow: 0px 0px 20px #212121;
}
